In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import psycopg2
#для связи с postgresql

In [3]:
import sqlite3

In [4]:
import os
from dotenv import load_dotenv
from pathlib import Path

In [5]:
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

True

##### _подключение к postgresql_

In [8]:
user = os.getenv('PG_USER_SBER')
password =  os.getenv('PG_PASSWORD_SBER')
hostname =  os.getenv('PG_HOST_SBER')
database_name =  os.getenv('PG_DATABASE_SBER')

In [9]:
# con = create_engine('postgresql+psycopg2://user:password@hostname:port/database_name')
conn_text_sber = f'postgresql+psycopg2://{user}:{password}@{hostname}:6432/{database_name}'
con_to_pg = create_engine(conn_text_sber)
# бд из Сберовского задания

##### _подключение к локальной sqlite_

In [5]:
path_sqlite = Path('.') / 'db'

In [15]:
con_to_sqlite = sqlite3.connect(path_sqlite)

In [ ]:
# df = pd.read_sql('table_name', con)

##### _подключение к google-drive_

In [13]:
google_url = os.getenv('G_URL')

In [14]:
url =f'https://drive.google.com/uc?id=' + f'{google_url}'.split('/')[-2]
# to read csv file from google drive

##### чтение sql-файла

In [10]:
df = pd.read_sql('orders', con_to_pg)
# или к con_to_sqlite

In [23]:
df = pd.read_csv(url, encoding='unicode_escape')
# or encoding='windows-1251', sep=';'

In [16]:
df = pd.read_sql('select * from german_credit', con_to_sqlite)

In [17]:
df.head(2)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,default
0,0,67,male,2,own,None,little,1169,6,radio/TV,0
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,1