In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
import psycopg2
#для связи с postgresql

In [21]:
import csv
from io import StringIO

In [3]:
import sqlite3

In [4]:
import os
from dotenv import load_dotenv
from pathlib import Path

In [23]:
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

True

In [5]:
df = pd.read_csv('gleb-mihailov/german-credit.csv')

#### Заливка csv-файла в свою sql базу данных (для тренировки запросов sql)

##### -> _postgresql + elephantsql.com_

In [25]:
user = os.getenv('PG_USER_ELEPH')
password =  os.getenv('PG_PASSWORD_ELEPH')
hostname =  os.getenv('PG_HOST_ELEPH')
database_name =  os.getenv('PG_DATABASE_ELEPH')

In [26]:
# con = create_engine('postgresql+psycopg2://user:password@hostname:port/database_name')
# реквизиты БД взяты с elephant.com
conn_text_eleph = f'postgresql+psycopg2://{user}:{password}@{hostname}/{database_name}'
con_to_pg = create_engine(conn_text_eleph)

In [27]:
# https://stackoverflow.com/a/55495065/4527289
# import csv
# from io import StringIO
# from sqlalchemy import create_engine

def psql_insert_copy(table, conn, keys, data_iter):
    # gets a DBAPI connection that can provide a cursor
    dbapi_conn = conn.connection
    with dbapi_conn.cursor() as cur:
        s_buf = StringIO()
        writer = csv.writer(s_buf)
        writer.writerows(data_iter)
        s_buf.seek(0)

        columns = ', '.join('"{}"'.format(k) for k in keys)
        if table.schema:
            table_name = '{}.{}'.format(table.schema, table.name)
        else:
            table_name = table.name

        sql = 'COPY {} ({}) FROM STDIN WITH CSV'.format(
            table_name, columns)
        cur.copy_expert(sql=sql, file=s_buf)

In [28]:
df.sample(10).to_sql('german_credit', con_to_pg, index=False,if_exists='replace',method=psql_insert_copy)
# .sample(10) предварительная заливка 10 рандомных строк для тестирования

In [29]:
df.to_sql('german_credit', con_to_pg, index=False, if_exists='replace',method=psql_insert_copy)

##### -> _sqlite_

In [17]:
path_sqlite = Path('.') / 'db'

In [18]:
con_to_sqlite = sqlite3.connect(path_sqlite)

In [11]:
df.to_sql('german_credit', con_to_sqlite, index=False, if_exists='replace')

1000

#### Селект к таблице своей БД

In [30]:
#postgresql
def select(sql):
  return pd.read_sql(sql, con_to_pg)

In [12]:
#sqlite
def select(sql):
  return pd.read_sql(sql, con_to_sqlite)

In [13]:
sql = '''select * from german_credit t'''

In [14]:
select(sql)

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,default
0,0,67,male,2,own,None,little,1169,6,radio/TV,0
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,1
2,2,49,male,1,own,little,None,2096,12,education,0
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,0
4,4,53,male,2,free,little,little,4870,24,car,1
...,...,...,...,...,...,...,...,...,...,...,...
995,995,31,female,1,own,little,None,1736,12,furniture/equipment,0
996,996,40,male,3,own,little,little,3857,30,car,0
997,997,38,male,2,own,little,None,804,12,radio/TV,0
998,998,23,male,2,free,little,little,1845,45,radio/TV,1
999,999,27,male,2,own,moderate,moderate,4576,45,car,0