In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
import psycopg2

In [20]:
import sqlite3

База - PostgreSQL
host='rc1c-fhrb9f1e0l9g611h.mdb.yandexcloud.net',
port=6432,
dbname='hr-analytics',
sslmode='require',
user='analytics',
password=HRanalytics

In [3]:
con = create_engine('postgresql+psycopg2://analytics:HRanalytics@rc1c-fhrb9f1e0l9g611h.mdb.yandexcloud.net:6432/hr-analytics')

'postgresql+psycopg2://user:password@hostname:port/database_name'

In [29]:
con_to_sqlite = sqlite3.connect('db')

In [4]:
df = pd.read_sql('orders', con)

In [5]:
pd.set_option("styler.format.thousands", ",")

In [11]:
pd.set_option('display.float_format', '{:,.2f}'.format)
# разделитель ',' и два знака после запятой у чисел с плавающей точкой

In [5]:
df.head()

,id,user_id,total_cost,cost,item_total,promo_total,total_weight,total_quantity,state,shipped_at,created_at,ship_address_id,store_id,delivery_window_id
0,756927,139676,0.0,0.0,5015,0.0,37708,39,shipped,2018-08-26 15:01:42,2018-08-26 02:06:55,888330,1,226459
1,756963,139682,0.0,0.0,7096,0.0,49435,71,shipped,2018-08-26 16:28:41,2018-08-26 05:43:20,888394,1,226460
2,756983,63967,299.0,299.0,2724,-250.0,11590,32,shipped,2018-08-26 15:09:11,2018-08-26 06:12:13,888420,1,226459
3,756985,139687,0.0,0.0,3471,0.0,9915,13,shipped,2018-08-26 18:57:01,2018-08-26 06:13:59,888422,1,226462
4,757066,119006,299.0,299.0,1254,0.0,15022,24,shipped,2018-08-26 13:46:48,2018-08-26 07:40:58,870688,1,226458

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720433 entries, 0 to 720432
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   id                  720433 non-null  int64
 1   user_id             720433 non-null  int64
 2   total_cost          720433 non-null  float64
 3   cost                720433 non-null  float64
 4   item_total          720433 non-null  int64
 5   promo_total         720433 non-null  float64
 6   total_weight        720433 non-null  int64
 7   total_quantity      720433 non-null  int64
 8   state               720433 non-null  object
 9   shipped_at          720433 non-null  datetime64[ns]
 10  created_at          720433 non-null  datetime64[ns]
 11  ship_address_id     720433 non-null  int64
 12  store_id            720433 non-null  int64
 13  delivery_window_id  720433 non-null  int64
dtypes: datetime64[ns](2), float64(3), int64(8), object(1)
memory usage: 77.0+ MB

In [32]:
df.to_sql('orders', con_to_sqlite, index=False, if_exists='replace')

720433

In [35]:
def select(sql):
    return pd.read_sql(sql, con_to_sqlite)

In [36]:
sql = ''' SELECT *
from orders'''

In [37]:
select(sql)

,id,user_id,total_cost,cost,item_total,promo_total,total_weight,total_quantity,state,shipped_at,created_at,ship_address_id,store_id,delivery_window_id
0,756927,139676,0.00,0.00,5015,0.00,37708,39,shipped,2018-08-26 15:01:42,2018-08-26 02:06:55,888330,1,226459
1,756963,139682,0.00,0.00,7096,0.00,49435,71,shipped,2018-08-26 16:28:41,2018-08-26 05:43:20,888394,1,226460
2,756983,63967,299.00,299.00,2724,-250.00,11590,32,shipped,2018-08-26 15:09:11,2018-08-26 06:12:13,888420,1,226459
3,756985,139687,0.00,0.00,3471,0.00,9915,13,shipped,2018-08-26 18:57:01,2018-08-26 06:13:59,888422,1,226462
4,757066,119006,299.00,299.00,1254,0.00,15022,24,shipped,2018-08-26 13:46:48,2018-08-26 07:40:58,870688,1,226458
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
720428,5423310,1676786,258.00,258.00,4777,0.00,43286,71,shipped,2019-12-18 15:45:12,2019-12-18 09:16:28,6346125,235,973254
720429,5423488,1832586,98.00,238.00,1864,0.00,4245,13,shipped,2019-12-18 12:44:16,2019-12-18 09:20:18,7120759,235,973253
720430,5424466,1318477,158.00,238.00,2769,-200.00,4780,7,shipped,2019-12-18 13:16:08,2019-12-18 09:41:28,6881231,235,973252
720431,5426016,1116106,158.00,238.00,2876,0.00,13385,34,shipped,2019-12-18 14:28:56,2019-12-18 10:18:37,5606095,235,973254
720432,5426868,1389756,158.00,238.00,4376,0.00,16733,35,shipped,2019-12-18 13:19:32,2019-12-18 10:36:52,6661630,235,973254