In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
import os

In [3]:
import psycopg2

In [20]:
import sqlite3

База - PostgreSQL
host='rc1c-fhrb9f1e0l9g611h.mdb.yandexcloud.net',
port=6432,
dbname='hr-analytics',
sslmode='require',
user='analytics',
password=HRanalytics

In [4]:
con_sber = create_engine('postgresql+psycopg2://analytics:HRanalytics@rc1c-fhrb9f1e0l9g611h.mdb.yandexcloud.net:6432/hr-analytics')

In [5]:
df_orders = pd.read_sql('orders', con_sber)

In [14]:
df_delivery_windows = pd.read_sql('delivery_windows', con_sber)

In [16]:
df_stores = pd.read_sql('stores', con_sber)

In [19]:
df_addresses = pd.read_sql('addresses', con_sber)

In [21]:
df_replacements = pd.read_sql('replacements', con_sber)

In [23]:
df_cancellations = pd.read_sql('cancellations', con_sber)

##### Заливка в локальную psql для скорости работы

In [6]:
user = os.getenv('PG_USER_LOCAL')
password =  os.getenv('PG_PASSWORD_LOCAL')
hostname =  os.getenv('PG_HOST_LOCAL')
# port =  os.getenv('PG_PORT_LOCAL')
database_name =  os.getenv('PG_DATABASE_LOCAL')

In [7]:
conn_text = f'postgresql+psycopg2://{user}:{password}@{hostname}/{database_name}'
con = create_engine(conn_text)

In [10]:
df_orders.to_sql('orders', con, index=False, if_exists='replace')
# .sample(10) предварительная заливка 10 рандомных строк для тестирования

433

In [15]:
df_delivery_windows.to_sql('delivery_windows', con, index=False, if_exists='replace')

343

In [17]:
df_stores.to_sql('stores', con, index=False, if_exists='replace')

162

In [20]:
df_addresses.to_sql('addresses', con, index=False, if_exists='replace')

303

In [22]:
df_replacements.to_sql('replacements', con, index=False, if_exists='replace')

244

In [24]:
df_cancellations.to_sql('cancellations', con, index=False, if_exists='replace')

605

In [43]:
pd.set_option("styler.format.thousands", ",")

In [26]:
pd.set_option('display.float_format', '{:,.2f}'.format)
# разделитель ',' и два знака после запятой у чисел с плавающей точкой

In [27]:
def select(sql):
    return pd.read_sql(sql, con)

In [28]:
sql = ''' SELECT *
from orders'''

In [29]:
orders = select(sql)

In [32]:
sql = '''select *
from orders o
left outer join delivery_windows
on o.delivery_window_id = delivery_windows.id
left outer join stores s
on o.store_id = s.id
left outer join addresses a
on o.ship_address_id = a.id;'''

In [33]:
df = select(sql)

In [36]:
df.head()

,id,user_id,total_cost,cost,item_total,promo_total,total_weight,total_quantity,state,shipped_at,...,ends_at,time_zone,id,city,retailer_id,lat,lon,id,elevator,floor
0,775139,143569,299.00,299.00,1450,-454.88,13953,16,shipped,2018-09-22 15:44:24,...,2018-09-22 18:00:00,Europe/Moscow,1,1,1,55.86,37.62,"914,543.00",None,4
1,778455,145333,0.00,0.00,3705,0.00,13825,21,shipped,2018-09-07 11:22:13,...,2018-09-07 12:00:00,Europe/Moscow,1,1,1,55.83,37.60,"924,848.00",None,6
2,782210,36138,249.00,249.00,5037,0.00,21014,52,shipped,2018-09-09 11:01:56,...,2018-09-09 11:00:00,Europe/Moscow,1,1,1,55.90,37.59,"901,243.00",passenger,21
3,818914,15903,498.00,498.00,3990,0.00,45852,43,shipped,2018-09-28 09:31:25,...,2018-09-28 09:00:00,Europe/Moscow,1,1,1,55.81,37.64,"871,904.00",passenger,2
4,823730,60714,299.00,299.00,1049,0.00,15340,30,shipped,2018-09-30 12:55:46,...,2018-09-30 16:00:00,Europe/Moscow,1,1,1,55.90,37.75,"879,569.00",None,

In [49]:
df.time_zone.value_counts()

Europe/Moscow         631572
Europe/Samara          47746
Asia/Yekaterinburg     29408
Asia/Omsk              21148
Europe/Kaliningrad       115
Name: time_zone, dtype: int64

In [ ]:
df.describe()