In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
import os
from dotenv import load_dotenv
from pathlib import Path

In [3]:
env_path = Path('.') / '.env'
load_dotenv(dotenv_path=env_path)

True

In [4]:
user = os.getenv('PG_USER_LOCAL')
password =  os.getenv('PG_PASSWORD_LOCAL')
hostname =  os.getenv('PG_HOST_LOCAL')
# port =  os.getenv('PG_PORT_LOCAL')
database_name =  os.getenv('PG_DATABASE_LOCAL')

In [5]:
# con = create_engine('postgresql+psycopg2://shulz:19901990@localhost:5432/learn_data')

In [5]:
conn_text = f'postgresql+psycopg2://{user}:{password}@{hostname}/{database_name}'
con = create_engine(conn_text)

'postgresql+psycopg2://user:password@hostname:port/database_name'

In [8]:
df = pd.read_sql('select * from german_credit', con)

In [9]:
df.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,default
0,0,67,male,2,own,None,little,1169,6,radio/TV,0
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,1
2,2,49,male,1,own,little,None,2096,12,education,0
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,0
4,4,53,male,2,free,little,little,4870,24,car,1