In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
import os
from dotenv import load_dotenv
from pathlib import Path

In [3]:
# BASE_DIR = os.getcwd()
# env_path = os.path.join(BASE_DIR, '.env')
# print(env_path)
env_path = Path('.') / '.env'
# if os.path.exists(env_path):
load_dotenv(dotenv_path=env_path)
# else:
#     print('Dotenv-file not found')

True

In [4]:
user = os.getenv('PG_USER_LOCAL')
password =  os.getenv('PG_PASSWORD_LOCAL')
hostname =  os.getenv('PG_HOST_LOCAL')
# port =  os.getenv('PG_PORT_LOCAL')
database_name =  os.getenv('PG_DATABASE_LOCAL')

In [5]:
# con = create_engine('postgresql+psycopg2://shulz:19901990@localhost:5432/learn_data')

In [5]:
conn_text = f'postgresql+psycopg2://{user}:{password}@{hostname}/{database_name}'
con = create_engine(conn_text)

'postgresql+psycopg2://user:password@hostname:port/database_name'

In [6]:
df = pd.read_sql('avocado_prices', con)

In [7]:
df.head()

,id,date,average_price,total_volume,total_bags,small_bags,large_bags,xlarge_bags,type,year,region
0,0,2015-12-27,1.33,64236.62,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,6183.95,5986.26,197.69,0.0,conventional,2015,Albany